# AWS Credentials (use IAM user credentials)
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_REGION=ap-south-1

# SQS Queue URLs (copy from AWS Console)
SQS_QUEUE_URL=https://sqs.ap-south-1.amazonaws.com/ACCOUNT_ID/order-processing-queue
SQS_DLQ_URL=https://sqs.ap-south-1.amazonaws.com/ACCOUNT_ID/order-processing-dlq

# Producer
PORT=3000
